* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgba(226, 154, 241, 0.833);
  color: rgba(133, 79, 144, 0.833);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 100%;
  background-color: rgb(183, 75, 216);
  margin: 0 auto;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {

  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 800;
  margin-left: 30px;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  color: rgb(0, 0, 0);
  display: block;
}

.menu .navbar ul li a:hover {
  background-color: rgb(218, 126, 234);
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.links {
  background-color: beige;
  max-width: 100%;
  border-radius: 5px;
  margin: 1em;
  margin-left: -30px;
}

.links a {
  margin-left: 40px;
}

.links a:hover {
  color: rgb(113, 47, 152);
  font-size: 20px;
  text-decoration: none;
  list-style: none;
}

.linea {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 20px auto;
}

.card {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
  margin: auto;
  border: 2px solid;
  margin-top: 10px;
  border-radius: 30px;
  height: 320px;
  width: 250px;
  background-color: white;
  margin-bottom: 20px;
}

.card img {
  max-width: 100%;
  height: auto;
  background-color: white;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

}

button {
  border-radius: 10px;
  outline: 0;
  padding: 8px;
  color: rgb(0, 0, 0);
  background-color: rgb(218, 126, 234);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
  align-self: flex-end;
}

@media(max-width:660px) {
  .menu {
      padding: 30px;
  }

  .menu label {
      display: initial;
  }

  .menu .navbar {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: rgb(186, 99, 202);
      display: none;
      z-index: 30000;
  }

  .menu .navbar ul li {
      width: 100%;
  }

  #menu:checked~.navbar {
      display: initial;
  }

  .logo {
      margin-left: 15px;
  }
  .links{
      max-width: 90%;
  }

}